.banner{
   @media(max-width: 767px){
      padding-bottom: 50px;
   }

   .main{
      background: $color-primary;
      padding-bottom: 400px;


      .container{
         @media(max-width: 1139px) {
            width: 100%;            
         }
      }

      .section-header{
         h1{
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 31px;
            text-align: center;
            padding: 32px 0;
            color: #3c3c3b;
      
            @media(max-width: 991px) {
               font-size: 24px;
            }
   
            @media(max-width: 767px) {
               font-size: 20px;
               padding: 15px;
               line-height: 29px
            }
         }
      }
   }
}