.hero{
   .container{
      max-width: 1004px;
   }
   
   .top-section{
      background: $color-primary;
      padding-bottom: 270px;

      @media(max-width: 767px) {
         padding-bottom: 180px;         
      }

      @media(max-width: 575px) {
         padding-bottom: 120px;    
      }

      .social-media{
         padding-top: 20px;
   
         a{
            display: inline-block;
            margin-right: 10px;
   
            i{
               color: #000;
               font-size: 20px;
            }
         }
   
         .text{
            h5{
               font-family: 'Roboto', sans-serif;
               font-weight: 500;
               font-size: 16px;
               line-height: 20px;
               color: #000;
            }
            p{
               font-family: 'Roboto', sans-serif;
               font-weight: 500;
               font-size: 14px;
               line-height: 20px;
               color: #000;
            }
         }
      }
   
      .main-content{
         h1{
            font-family: 'Nunito Sans', sans-serif;
            font-weight: 700;
            font-size: 41px;
            color: #000;
            padding-top: 15px;

            @media(max-width: 991px){
               font-size: 36px;
            }
            @media(max-width: 767px){
               font-size: 27px;
            }
         }
   
         p{
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 28px;
            color: #000;
            padding: 20px 0;
            @media(max-width: 991px){
               font-size: 28px;
            }
            @media(max-width: 767px){
               font-size: 17px;
            }

            @media(min-width: 1000px){
               white-space: pre-line;
            }
         }
      }
   }


   .bottom-section{
      margin-top: -270px;
      position: relative;
      z-index: 1;

      @media(max-width: 767px) {
         margin-top: -180px;    
      }
      @media(max-width: 575px) {
         margin-top: -120px;    
      }

      .image-container{
   
         img{
            padding-bottom: -100px;
         }
   
   
         .pic-detailed{
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 14px;
            line-height: 25px;
            color: #AAAAAA;
            padding-top: 10px;

            @media(max-width: 767px){
               font-size: 12px;
            }
         }
      }
   }
}