.awards{
   background: #FFF8D9;
   padding: 25px 0;

   .container{
      max-width: 1170px;
   }

   .contents{
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      text-align: center;
      gap: 15px;

      @media(max-width: 991px) {
         grid-template-columns: repeat(4, 1fr);
         gap: 20px;
      }

      @media(max-width: 575px) {
         grid-template-columns: repeat(3, 1fr);
         gap: 20px;
      }

      img{
         max-height: 55px;
         opacity: 0.70;
      }
   }
}