/*=== abstracts css start === */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&family=Nunito+Sans:wght@300;400;700;800&family=Open+Sans:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap");
/*===// end of abstracts css === */
/*=== base css start === */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

::after, ::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ol, ul, p, address, strong, i {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

/*===// end of base css === */
/*=== layouts css start === */
.header {
  padding: 5px 0;
}
.header .image {
  text-align: center;
}
.header .image img {
  width: 100%;
  max-width: 160px;
}
.header .w-980 {
  max-width: 1004px;
}
.header .adver {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  line-height: 35px;
}

.logo-lg {
  width: 100%;
  max-width: 275px;
}

.footer {
  padding: 30px 0;
  background: #3c3c3b;
  color: #fff;
}
.footer p {
  color: #e5e8ec;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 10px;
}
.footer a {
  color: #fff;
  text-decoration: underline;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
.footer .policy {
  border-right: 2px solid #fff;
}
.footer .footer-small-font {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 23px;
  color: #fff;
}
.footer .footer-small-font:not(:last-child) {
  padding-bottom: 20px;
}

@media (min-width: 1500px) {
  .banner {
    padding-bottom: 50px;
  }
}
.banner .main {
  background: #FFD106;
}
.banner .main .section-header h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 31px;
  text-align: center;
  padding: 32px 0;
  color: #3c3c3b;
}
@media (max-width: 991px) {
  .banner .main .section-header h1 {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .banner .main .section-header h1 {
    font-size: 20px;
    padding: 15px;
    line-height: 29px;
  }
}
@media (min-width: 1500px) {
  .banner .main .image img {
    position: relative;
    z-index: 999;
    margin-bottom: -50px;
  }
}

.hero .container {
  max-width: 1004px;
}
.hero .top-section {
  background: #FFD106;
  padding-bottom: 270px;
}
@media (max-width: 767px) {
  .hero .top-section {
    padding-bottom: 180px;
  }
}
@media (max-width: 575px) {
  .hero .top-section {
    padding-bottom: 120px;
  }
}
.hero .top-section .social-media {
  padding-top: 20px;
}
.hero .top-section .social-media a {
  display: inline-block;
  margin-right: 10px;
}
.hero .top-section .social-media a i {
  color: #000;
  font-size: 20px;
}
.hero .top-section .social-media .text h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}
.hero .top-section .social-media .text p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000;
}
.hero .top-section .main-content h1 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 41px;
  color: #000;
  padding-top: 15px;
}
@media (max-width: 991px) {
  .hero .top-section .main-content h1 {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .hero .top-section .main-content h1 {
    font-size: 27px;
  }
}
.hero .top-section .main-content p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #000;
  padding: 20px 0;
}
@media (max-width: 991px) {
  .hero .top-section .main-content p {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .hero .top-section .main-content p {
    font-size: 17px;
  }
}
@media (min-width: 1000px) {
  .hero .top-section .main-content p {
    white-space: pre-line;
  }
}
.hero .bottom-section {
  margin-top: -270px;
  position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
  .hero .bottom-section {
    margin-top: -180px;
  }
}
@media (max-width: 575px) {
  .hero .bottom-section {
    margin-top: -120px;
  }
}
.hero .bottom-section .image-container img {
  padding-bottom: -100px;
}
.hero .bottom-section .image-container .pic-detailed {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  color: #AAAAAA;
  padding-top: 10px;
}
@media (max-width: 767px) {
  .hero .bottom-section .image-container .pic-detailed {
    font-size: 12px;
  }
}

/*===// end of layouts css === */
/*=== components css start === */
.btn-black {
  background: #3C3C3B;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 50px;
  padding: 0 40px;
}
@media (max-width: 767px) {
  .btn-black {
    line-height: 40px;
    padding: 0 20px;
  }
}
.btn-black:hover {
  color: #fff;
}

.btn-yellow {
  background: #FFD106;
  color: #3c3c3b;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  border-radius: 0;
  text-align: center;
  height: 80px;
  width: 100%;
  max-width: 235px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
@media (max-width: 767px) {
  .btn-yellow {
    font-size: 15px;
  }
}
.btn-yellow:hover {
  background: #3c3c3b;
  color: #fff;
}

.why-invest-solar {
  padding: 40px 0 55px;
}
@media (max-width: 767px) {
  .why-invest-solar {
    padding: 40px 0 35px;
  }
}
.why-invest-solar .container {
  max-width: 1170px;
}
.why-invest-solar .section-header {
  padding-top: 15px;
  text-align: center;
  position: relative;
}
.why-invest-solar .section-header::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #FFD106;
}
.why-invest-solar .section-header h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 31px;
  text-align: center;
  color: #3c3c3b;
  position: relative;
  background: #fff;
  display: inline-block;
}
@media (max-width: 991px) {
  .why-invest-solar .section-header h2 {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .why-invest-solar .section-header h2 {
    font-size: 20px;
  }
}
.why-invest-solar .section-body .solar-criteria-details {
  padding: 55px 0 30px;
}
@media (max-width: 767px) {
  .why-invest-solar .section-body .solar-criteria-details {
    padding-top: 25px;
  }
}
.why-invest-solar .section-body .solar-criteria-details .item-card {
  height: 100%;
  text-align: center;
  background: #fff;
}
@media (min-width: 1400px) {
  .why-invest-solar .section-body .solar-criteria-details .item-card {
    padding: 0 50px;
  }
}
@media (max-width: 767px) {
  .why-invest-solar .section-body .solar-criteria-details .item-card {
    border-top: 1px solid #FFD106;
    border-bottom: 1px solid #FFD106;
    padding-bottom: 20px;
  }
}
.why-invest-solar .section-body .solar-criteria-details .item-card .image {
  text-align: center;
  border-bottom: 3px solid #FFD106;
  max-width: 180px;
  margin: auto;
}
.why-invest-solar .section-body .solar-criteria-details .item-card .image img {
  width: 128px;
}
.why-invest-solar .section-body .solar-criteria-details .item-card .text {
  padding-top: 20px;
}
.why-invest-solar .section-body .solar-criteria-details .item-card .text h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 15px;
  color: #444444;
}
@media (max-width: 991px) {
  .why-invest-solar .section-body .solar-criteria-details .item-card .text h3 {
    font-size: 18px;
  }
}
.why-invest-solar .section-body .solar-criteria-details .item-card .text p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #444444;
}
@media (max-width: 991px) {
  .why-invest-solar .section-body .solar-criteria-details .item-card .text p {
    font-size: 16px;
  }
}

.awards {
  background: #FFF8D9;
  padding: 25px 0;
}
.awards .container {
  max-width: 1170px;
}
.awards .contents {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  gap: 15px;
}
@media (max-width: 991px) {
  .awards .contents {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}
@media (max-width: 575px) {
  .awards .contents {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
.awards .contents img {
  max-height: 55px;
  opacity: 0.7;
}

.solar-properties {
  padding: 30px 0;
}
.solar-properties .container {
  max-width: 1004px;
}
.solar-properties h2 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #3c3c3b;
}
@media (max-width: 767px) {
  .solar-properties h2 {
    font-size: 25px;
  }
}
.solar-properties .propery-list {
  padding: 20px 0 20px 20px;
  margin: 20px 0;
  border-left: 8px solid #FFD106;
  background: #fffae5;
}
.solar-properties .propery-list li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: #000;
  padding: 5px 0;
  position: relative;
  padding-left: 45px;
}
@media (max-width: 757px) {
  .solar-properties .propery-list li {
    font-size: 15px;
  }
}
.solar-properties .propery-list li::before {
  content: "";
  position: absolute;
  left: 0;
  width: 32px;
  height: 32px;
  background: url(../images/solarprofit-favicon-yellow.png) no-repeat center center/contain;
}
@media (max-width: 757px) {
  .solar-properties .propery-list li::before {
    top: 10px;
  }
}
.solar-properties .propery-list li strong {
  font-weight: 700;
}
.solar-properties .propery-list li a {
  color: #000;
  font-weight: 700;
  text-decoration: underline;
}
.solar-properties p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #000;
  padding: 5px 0;
}
@media (max-width: 757px) {
  .solar-properties p {
    font-size: 16px;
    line-height: inherit;
  }
}
.solar-properties p a {
  font-weight: 700;
  text-decoration: underline;
  color: #000;
}

.near-location-service .container {
  max-width: 1004px;
}
.near-location-service h2 {
  font-weight: 700;
  text-align: center;
  font-size: 32px;
  line-height: 40px;
  color: #3c3c3b;
}
@media (max-width: 767px) {
  .near-location-service h2 {
    font-size: 21px;
    padding: 14px 30px;
    line-height: inherit;
  }
}
.near-location-service h2 a {
  color: #3c3c3b;
}
.near-location-service .locations {
  padding: 25px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}
@media (max-width: 991px) {
  .near-location-service .locations {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 575px) {
  .near-location-service .locations {
    grid-template-columns: repeat(2, 1fr);
  }
}

.cost-and-details .container {
  max-width: 1004px;
}
.cost-and-details h2 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #3c3c3b;
}
@media (max-width: 767px) {
  .cost-and-details h2 {
    font-size: 25px;
  }
}
.cost-and-details p {
  white-space: pre-line;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.cost-and-details p strong, .cost-and-details p a {
  font-weight: 700;
}
@media (max-width: 767px) {
  .cost-and-details p {
    font-size: 15px;
    line-height: inherit;
  }
}
.cost-and-details p a {
  color: #3c3c3b;
  text-decoration: underline;
}
.cost-and-details .what-is-solarProfit {
  padding: 25px;
  margin: 25px 0;
  background: #fffae5;
  border-left: 8px solid #FFD106;
}
.cost-and-details .free-quote {
  padding: 35px 0 55px;
}
.cost-and-details .free-quote ul {
  padding-left: 0;
}
.cost-and-details .free-quote ul li {
  padding: 8px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  position: relative;
  padding-left: 45px;
}
@media (max-width: 767px) {
  .cost-and-details .free-quote ul li {
    font-size: 15px;
  }
}
.cost-and-details .free-quote ul li::before {
  content: "";
  position: absolute;
  left: 0;
  width: 32px;
  height: 32px;
  background: url(../images/solarprofit-favicon-yellow.png) no-repeat center center/contain;
  z-index: 999;
}
.cost-and-details .free-quote ul li img {
  max-width: 32px;
  margin-right: 10px;
}
.cost-and-details .free-quote ul li strong, .cost-and-details .free-quote ul li a {
  font-weight: 700;
}
.cost-and-details .free-quote ul li a {
  color: #000;
  text-decoration: underline;
}

.saving-with-solar .container {
  max-width: 1004px;
}
.saving-with-solar h2 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 29px;
  line-height: 34px;
  color: #3c3c3b;
  padding: 55px 0 25px;
}
@media (max-width: 767px) {
  .saving-with-solar h2 {
    font-size: 25px;
  }
}
.saving-with-solar ul {
  padding-left: 0;
}
.saving-with-solar ul li {
  padding: 6px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  position: relative;
  padding-left: 45px;
}
@media (max-width: 767px) {
  .saving-with-solar ul li {
    font-size: 15px;
  }
}
.saving-with-solar ul li::before {
  content: "";
  position: absolute;
  left: 0;
  width: 32px;
  height: 32px;
  background: url(../images/solarprofit-favicon-yellow.png) no-repeat center center/contain;
  z-index: 999;
}
.saving-with-solar ul li img {
  max-width: 32px;
  margin-right: 10px;
}
.saving-with-solar .let-start {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 57px;
  padding: 18px 0;
  background: #FFD106;
}
@media (max-width: 767px) {
  .saving-with-solar .let-start {
    font-size: 28px;
  }
}
@media (max-width: 575px) {
  .saving-with-solar .let-start {
    font-size: 22px;
  }
}
.saving-with-solar .let-start a {
  color: #3c3c3b;
  text-decoration: underline;
}

/*===// end of components css === *//*# sourceMappingURL=style.css.map */